######## CARDANO-DEVNET ENVIRONMENT CONFIGURATION ########

#### GENERAL SETUP ####
export DEVNET_ROOT=$(git rev-parse --show-toplevel)
export CARDANO_NODE_SOCKET_PATH=$PWD/runtime/node.socket
export CARDANO_NODE_NETWORK_ID=42

PATH_add ./scripts

# Source and watch the .env file:
if [ -f ".env" ]; then
  ENVSET=true
fi
if [ -n "$ENVSET" ]; then
  echo "Loading .env setup"
  dotenv
  watch_file .env
fi

if [ -z "$CARDANO_CLI_GURU" ]; then

  echo "---------------"
  echo "CARDANO_CLI_GURU not set; skipping cardano-cli-guru setup"
  echo "To use cardano-devnet with cardano-cli-guru, export CARDANO_CLI_GURU and re-run 'direnv allow'"
  echo "---------------"

  export KEYS_PATH=$DEVNET_ROOT/config/credentials

else

  # Propagate the CARDANO_CLI_GURU to other processes 
  if [ -z "$ENVSET" ]; then
    echo "saving CARDANO_CLI_GURU in .env"
    touch .env
    cat <<EOF > .env
CARDANO_CLI_GURU=$CARDANO_CLI_GURU
EOF
  fi

  # Add startup and monitor scripts to PATH
  PATH_add $CARDANO_CLI_GURU/scripts

  # Cardano-cli-guru
  CARDANO_ASSETS_PATH=$CARDANO_CLI_GURU/assets
  export ADDR_PATH=$CARDANO_ASSETS_PATH/addr
  export DATA_PATH=$CARDANO_ASSETS_PATH/data
  export KEYS_PATH=$CARDANO_ASSETS_PATH/keys
  export PARAMS_PATH=$CARDANO_ASSETS_PATH/params.json
  export TX_PATH=$CARDANO_ASSETS_PATH/tx
  export NATIVE_SCRIPTS_PATH=$CARDANO_ASSETS_PATH/scripts/native
  export PLUTUS_SCRIPTS_PATH=$CARDANO_ASSETS_PATH/scripts/plutus

  echo "---------------"
  echo "CARDANO_CLI_GURU set to $CARDANO_CLI_GURU"
  echo "---------------"
  
fi
