######## CARDANO-DEVNET ENVIRONMENT CONFIGURATION ########

#### GENERAL SETUP ####
export DEVNET_ENV_LOADED=true
export DEVNET_ROOT=$(git rev-parse --show-toplevel)
export CARDANO_NODE_SOCKET_PATH=$PWD/target/node.socket
export CARDANO_NODE_NETWORK_ID=42

PATH_add ./scripts

# Source and watch the .env file:
dotenv
watch_file .env

if [ -z "$CARDANO_CLI_GURU" ]; then
    echo "CARDANO_CLI_GURU not set; skipping cardano-cli-guru setup"
    exit
fi

# Propagate the CARDANO_CLI_GURU to all processes 
if [ ! -f .env ]; then
  touch .env
  cat <<EOF > .env
CARDANO_CLI_GURU=$CARDANO_CLI_GURU
EOF
fi

# Add startup and monitor scripts to PATH
PATH_add $CARDANO_CLI_GURU/scripts

# Cardano-cli-guru
CARDANO_ASSETS_PATH=$CARDANO_CLI_GURU/assets
export ADDR_PATH=$CARDANO_ASSETS_PATH/addr
export DATA_PATH=$CARDANO_ASSETS_PATH/data
export KEYS_PATH=$CARDANO_ASSETS_PATH/keys
export PARAMS_PATH=$CARDANO_ASSETS_PATH/params.json
export TX_PATH=$CARDANO_ASSETS_PATH/tx
export NATIVE_SCRIPTS_PATH=$CARDANO_ASSETS_PATH/scripts/native
export PLUTUS_SCRIPTS_PATH=$CARDANO_ASSETS_PATH/scripts/plutus
