[submodule "explorer/elegant-circles"]
  path = explorer/elegant-circles
  url = https://github.com/dohliam/elegant-circles.git
[submodule "wallet/cardano-hw-cli"]
	path = wallet/cardano-hw-cli
	url = https://github.com/vacuumlabs/cardano-hw-cli.git
