<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100">
    <div class="flex justify-center pb-8">
      <h1 class="text-3xl font-bold">Cardano Devnet Explorer</h1>
    </div>
    <div class="flex flex-row flex-wrap justify-center">

      <!-- Genesis Block -->
      {% if height > 0 %}
      <a class="btn btn-success" href="/chain/0">Genesis Block</a>
      <div class="divider divider-horizontal"></div>
      {% endif %}

      <!-- Prev Block -->
      {% if height > 1 %}
      {% if showExtendLeft %}
      {% endif %}
      <a class="flex-initial btn btn-info" href="/chain/{{ height | minus: 1}}">Prev Block: {{ height | minus: 1 }}</a>
      <div class="divider divider-horizontal"></div>
      {% endif %}

      <!-- Current Block -->
      <div class="btn btn-neutral no-animation">Current Block: {{ height }}</div>

      <!-- Next Block -->
      <div class="divider divider-horizontal"></div>
      {% if height < maxHeight %}
      <a class="flex-initial btn btn-info" href="/chain/{{ height | plus: 1}}">Next Block: {{ height | plus: 1 }}</a>
      {% endif %}

      <!-- Max Block -->
      {% if showExtendRight %}
      <div class="divider divider-horizontal"></div>
      <a class="btn btn-success" href="/chain/{{ maxHeight }}">Block {{ maxHeight }}</a>
      {% endif %}

    </div>
    <div class="flex justify-center pt-4 ml-[50px] mr-[50px]">
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body items-center text-center">
          <div class="card-title">Block {{ height }} Data</div>
          <table>
            <tbody>
              <tr>
                <td>Full Hash</td>
                <td>{{ id }}</td>
              </tr>
              <tr>
                <td>Height</td>
                <td>{{ height }}</td>
              </tr>
              <tr>
                <td>Time Slot</td>
                <td>{{ slot }}</td>
              </tr>
              <tr>
                <td>Transactions</td>
                <td>
                  <div class="flex flex-row flex-wrap">
                    {% if transactions.length > 0 %}
                      {% for tx in transactions %}
                        <div class="card bg-yellow-100 shadow-xl mr-[10px] mb-[10px]">
                          <a class="card-body" href="/transaction/{{ tx.hash[0] }}">
                            <h2 class="card-title">Tx {{ tx.hash[1] }}</h2>
                            <div>
                              {{ tx.inputCount }} input{% if tx.inputCount != 1 %}s{% endif %}
                            </div>
                            <div>{{ tx.outputCount }} output{% if tx.outputCount != 1 %}s{% endif %}</div>
                          </a>
                        </div>
                      {% endfor %}
                    {% else %}
                      None
                    {% endif %}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
