<html>
  <head></head>
  <body>
    <div>Genesis Transaction {{ id }}</div>
    {% for output in outputs %}
      <div><a>Output {{ forloop.index0 }}: {{ output }}</a></div>
    {% endfor %}
  </body>
</html>