<html>
  <head>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100">
    <div class="flex justify-center pb-8">
      <h1 class="text-3xl font-bold">Cardano Devnet Explorer</h1>
    </div>
    <div class="flex justify-center ml-[50px] mr-[50px]">
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body items-center text-center">
          <div class="card-title">Token Balances</div>
          <table class="table-auto">
            <tbody>
              <tr>
                <td>Policy ID</td>
                <td>{{ policyId }}</td>
              </tr>
              <tr>
                <td>Token Name</td>
                <td>{{ tokenName }}</td>
              </tr>
              <tr>
                <td>Balances</td>
                <td>
                  <table>
                    <thead>
                      <tr>
                        <th>Address</th>
                        <th>Balance</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for a in ledger %}
                        <tr>
                          <td><a href="/address/{{ a[0] }}">{{ a[0] }}</a></td>
                          <td>{{ a[1] }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>