<html>
  <head>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100">
    <div class="flex justify-center pb-8">
      <h1 class="text-3xl font-bold">Cardano Devnet Explorer</h1>
    </div>
    <div class="flex justify-center ml-[50px] mr-[50px]">
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body items-center text-center">
          <div class="card-title">Transaction Data</div>
          <table class="table-auto">
            <tbody>
              <tr>
                <td>Full Hash</td>
                <td>{{ id }}</td>
              </tr>
              <tr>
                <td>Block</td>
                <td><a href="/block/{{ block }}">{{ block }}</a></td>
              </tr>
              <tr>
                <td>Block Height</td>
                <td>{{ blockHeight }}</td>
              </tr>
              <tr>
                <td>UTxOs</td>
                <td>
                  <div class="flex w-full justify-left">
                    <div>
                      <h4 class="pb-2 text-center">Spent Inputs</h4>
                      <div class="stats stats-vertical shadow">
                        {% for input in inputs %}
                          <a class="stat bg-red-100" href="/utxo/{{ input.hash[0] }}/{{ input.ref }}">
                            <div class="stat-title text-center">TxRef {{ input.hash[1] }}#{{ input.ref }}</div>
                            <div class="stat-value text-center">&#x20B3; {{ input.value["ada"] }}</div>
                            <div class="stat-desc text-center">
                              {% if input.tokenCount > 0 %}+ native token amts{% endif %}
                            </div>
                          </a>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="divider divider-horizontal"></div>
                    <div>
                      <h4 class="pb-2 text-center">Produced Outputs</h4>
                      <div class="stats stats-vertical shadow">
                        {% for output in outputs %}
                          <a class="stat bg-green-100" href="/utxo/{{ id }}/{{ output.ref }}">
                            <div class="stat-title text-center">Addr {{ output.addr[1] }}</div>
                            <div class="stat-value text-center">&#x20B3; {{ output.value["ada"] }}</div>
                            <div class="stat-desc text-center">
                              {% if output.tokenCount > 0 %}+ native token amts{% endif %}
                            </div>
                          </a>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Fee</td>
                <td>&#x20B3; {{ fee }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
