<html>
  <head>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100">
    <div class="flex justify-center pb-8">
      <h1 class="text-3xl font-bold">Cardano Devnet Explorer</h1>
    </div>
    <div class="flex justify-center">
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body items-center text-center">
          <div class="card-title">UTxO Data</div>
          <table class="table-auto">
            <tbody>
              <tr>
                <td>Address</td>
                <td>{{ addr[0] }}</td>
              </tr>
              <!--
              <tr>
                <td>Output Hash</td>
                <td>{{ tx[0] }}</td>
              </tr>
              <tr>
                <td>Output Reference</td>
                <td>{{ outref }}</td>
              </tr>
              <tr>
                <td>Spent By</td>
                <td>{{ spentBy[0] }}</td>
              </tr>
              -->
              <tr>
                <td>Lifecycle</td>
                <td>
                  <div class="flex w-full justify-left">
                    <div>
                      <h4 class="pb-2 text-center">Producing Tx</h4>
                      <div class="stats stats-vertical shadow bg-green-100">
                        <a class="stat" href="/transaction/{{ tx[0] }}"/>
                        <div class="stat-title text-center">Tx {{ tx[1] }}</div>
                        <a class="p-[10px]" href="/chain/{{ producedHeight }}">
                          <div class="stat-desc text-center">Block Height</div>
                          <div class="stat-value text-center">{{ producedHeight }}</div>
                        </a>
                      </div>
                    </div>
                    {% if spentBy != "unspent" %}
                      <div class="divider divider-horizontal"></div>
                      <div>
                        <h4 class="pb-2 text-center">Spending Tx</h4>
                        <div class="stats stats-vertical shadow bg-red-100">
                          <a class="stat" href="/transaction/{{ spentBy[0] }}"/>
                          <div class="stat-title text-center">Tx {{ spentBy[1] }}</div>
                          <a class="p-[10px]" href="/chain/{{ spentHeight }}">
                            <div class="stat-desc text-center">Block Height</div>
                            <div class="stat-value text-center">{{ spentHeight }}</div>
                          </a>
                        </div>
                      </div>
                    {% endif %}
                  </div>                  
                </td>
              <tr>
                <td>&#x20B3; Value</td>
                <td>{{ ada }}</td>
              </tr>
              {% if hasNativeTokens %}
                <tr>
                  <td>Native Tokens</td>
                  <td>
                    <table>
                      <thead>
                        <tr>
                          <th>Unit (Policy ID : Token Name)</th>
                          <th>Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for v in value %}
                          <tr>
                            <td>{{ v[0] }}</td>
                            <td>{{ v[1] }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
   </body>
</html>